<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F211623088708356" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F211623088708356" title="oEmbed Form">
<meta property="og:title" content="Product Purchase Order Form" >
<meta property="og:url" content="https://form.jotform.com/211623088708356" >
<meta property="og:description" content="Please click the link to complete this form." >
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/211623088708356" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>formulaire de contact</title>
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.25865" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f30e2a790832f3e96009402"/>
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/payment/payment_styles.css?3.3.25865" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/payment/payment_feature.css?3.3.25865" />
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
/*PREFERENCES STYLE*/
    .form-all {
      font-family: Inter, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Inter, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Inter, sans-serif;
    }
    .form-header-group {
      font-family: Inter, sans-serif;
    }
    .form-label {
      font-family: Inter, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 12px 36px 12px 36px px;
      margin-bottom: 12px 36px 12px 36px px;
    }
  
    .form-all {
      max-width: 752px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 230px;
    }
  
    .form-all {
      font-size: 16px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 16px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 16px
    }
  
    .supernova .form-all, .form-all {
      background-color: #fff;
    }
  
    .form-all {
      color: #2C3345;
    }
    .form-header-group .form-header {
      color: #2C3345;
    }
    .form-header-group .form-subHeader {
      color: #2C3345;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #2C3345;
    }
    .form-sub-label {
      color: #464d5f;
    }
  
    .supernova {
      background-color: #ecedf3;
    }
    .supernova body {
      background: transparent;
    }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #fff;
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    }
  
    .form-all {
      background-image: none;
    }
  
  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }
  
  /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/.form-label.form-label-auto {
        
      display: block;
      float: none;
      text-align: left;
      width: 100%;
    
      }
    /* Injected CSS Code */
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.25865" type="text/javascript"></script>
<script type="text/javascript">
	JotForm.init(function(){
      productID = {"0":"input_3_1004","1":"input_3_1005","2":"input_3_1006"};
      paymentType = "product";
      JotForm.setCurrencyFormat('EUR',true, 'point');
      JotForm.totalCounter({"input_3_1004":{"price":"5","quantityField":"input_3_quantity_1004_0","specialPriceField":"input_3_quantity_1004_0","specialPriceList":["5","10","15","20","25","30","35","40","45","50"]},"input_3_1005":{"price":"7","quantityField":"input_3_quantity_1005_0","specialPriceField":"input_3_quantity_1005_0","specialPriceList":["7","14","21","28","35","42","49","56","63","70"]},"input_3_1006":{"price":"9","quantityField":"input_3_quantity_1006_0","specialPriceField":"input_3_quantity_1006_0","specialPriceList":["9","18","27","36","45","54","63","72","81","90"]}});
      $$('.form-product-custom_quantity').each(function(el, i){el.observe('blur', function(){isNaN(this.value) || this.value < 1 ? this.value = '0' : this.value = parseInt(this.value)})});
      $$('.form-product-custom_quantity').each(function(el, i){el.observe('focus', function(){this.value == 0 ? this.value = '' : this.value})});
      JotForm.handleProductLightbox();
      setTimeout(function() {
          $('input_5').hint('ex: myname@example.com');
       }, 20);
if (window.JotForm && JotForm.accessible) $('input_9').setAttribute('tabindex',0);
      JotForm.setCustomHint( 'input_9', 'Ecrivez ici...' );
	JotForm.newDefaultTheme = true;
	JotForm.extendsNewTheme = false;
	JotForm.newPaymentUIForNewCreatedForms = false;
	JotForm.newPaymentUI = true;
      JotForm.alterTexts(undefined, true);
    /*INIT-END*/
	});

   JotForm.prepareCalculationsOnTheFly([null,{"name":"demandeDe","qid":"1","text":"Demande de contact","type":"control_head"},{"name":"envoyer","qid":"2","text":"envoyer","type":"control_button"},{"description":"","name":"mesProduits","qid":"3","text":"mes produits","type":"control_payment"},{"name":"identite","qid":"4","text":"identite","type":"control_fullname"},{"name":"email","qid":"5","subLabel":"example@example.com","text":"E-mail","type":"control_email"},null,null,null,{"description":"","name":"description","qid":"9","subLabel":"","text":"Description","type":"control_textarea"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"demandeDe","qid":"1","text":"Demande de contact","type":"control_head"},{"name":"envoyer","qid":"2","text":"envoyer","type":"control_button"},{"description":"","name":"mesProduits","qid":"3","text":"mes produits","type":"control_payment"},{"name":"identite","qid":"4","text":"identite","type":"control_fullname"},{"name":"email","qid":"5","subLabel":"example@example.com","text":"E-mail","type":"control_email"},null,null,null,{"description":"","name":"description","qid":"9","subLabel":"","text":"Description","type":"control_textarea"}]);}, 20); 
</script>
</head>
<body>
<form class="jotform-form" action="https://submit.jotformeu.com/submit/211623088708356/" method="post" name="form_211623088708356" id="211623088708356" accept-charset="utf-8" autocomplete="on">
  <input type="hidden" name="formID" value="211623088708356" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <style>
      .form-all:before { background: none;}
    </style>
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httac htvam">
            <h1 id="header_1" class="form-header" data-component="header">
              Demande de contact
            </h1>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_payment" id="id_3" data-payment="true">
        <label class="form-label form-label-top" id="label_3" for="input_3"> mes produits </label>
        <div id="cid_3" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true" class="product-container-wrapper">
            <div class="filter-container">
            </div>
            <input type="hidden" name="simple_fpc" data-payment_type="payment" data-component="payment1" value="3" />
            <input type="hidden" name="payment_total_checksum" id="payment_total_checksum" data-component="payment2" />
            <div id="image-overlay" class="overlay-content" style="display:none">
              <img id="current-image" />
              <span class="lb-prev-button">
                prev
              </span>
              <span class="lb-next-button">
                next
              </span>
              <span class="lb-close-button">
                ( X )
              </span>
              <span class="image-overlay-product-container">
                <ul class="form-overlay-item" hasicon="false" hasimages="false" iconvalue="">
                </ul>
                <ul class="form-overlay-item" hasicon="false" hasimages="false" iconvalue="">
                </ul>
                <ul class="form-overlay-item" hasicon="false" hasimages="false" iconvalue="">
                </ul>
              </span>
            </div>
            <div data-wrapper-react="true">
              <span class="form-product-item hover-product-item  show_option new_ui" categories="non-categorized" pid="1004">
                <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                  <div class="p_col">
                    <div class="p_checkbox">
                      <input type="checkbox" class="form-checkbox  form-product-input" id="input_3_1004" name="q3_mesProduits[][id]" value="1004" />
                      <div class="checked">
                      </div>
                      <div class="select_border">
                      </div>
                    </div>
                  </div>
                  <div class="p_image">
                    <div class="image_area null" style="background-image:url(&quot;null&quot;)">
                      <div class="image_zoom">
                      </div>
                    </div>
                  </div>
                  <div for="input_3_1004" class="form-product-container">
                    <span data-wrapper-react="true">
                      <div class="title_description">
                        <span class="form-product-name" id="product-name-input_3_1004">
                          produit1
                        </span>
                        <span class="form-product-description" id="product-name-description-input_3_1004">
                        </span>
                      </div>
                      <span class="form-product-details">
                        <b>
                          <span data-wrapper-react="true">
                            €
                            <span id="input_3_1004_price">
                              5.00
                            </span>
                            <span class="currency_abr">
                              EUR
                            </span>
                          </span>
                        </b>
                      </span>
                    </span>
                    <span class="form-sub-label-container" style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_quantity_1004_0" style="min-height:13px" aria-hidden="false"> Quantité </label>
                      <span class="select_cont">
                        <select class="form-dropdown" name="q3_mesProduits[special_1004][item_0]" id="input_3_quantity_1004_0">
                          <option value="1"> 1 </option>
                          <option value="2"> 2 </option>
                          <option value="3"> 3 </option>
                          <option value="4"> 4 </option>
                          <option value="5"> 5 </option>
                          <option value="6"> 6 </option>
                          <option value="7"> 7 </option>
                          <option value="8"> 8 </option>
                          <option value="9"> 9 </option>
                          <option value="10"> 10 </option>
                        </select>
                      </span>
                    </span>
                  </div>
                </div>
              </span>
              <div class="p_item_separator ">
              </div>
              <span class="form-product-item hover-product-item  show_option new_ui" categories="non-categorized" pid="1005">
                <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                  <div class="p_col">
                    <div class="p_checkbox">
                      <input type="checkbox" class="form-checkbox  form-product-input" id="input_3_1005" name="q3_mesProduits[][id]" value="1005" />
                      <div class="checked">
                      </div>
                      <div class="select_border">
                      </div>
                    </div>
                  </div>
                  <div class="p_image">
                    <div class="image_area null" style="background-image:url(&quot;null&quot;)">
                      <div class="image_zoom">
                      </div>
                    </div>
                  </div>
                  <div for="input_3_1005" class="form-product-container">
                    <span data-wrapper-react="true">
                      <div class="title_description">
                        <span class="form-product-name" id="product-name-input_3_1005">
                          produit2
                        </span>
                        <span class="form-product-description" id="product-name-description-input_3_1005">
                        </span>
                      </div>
                      <span class="form-product-details">
                        <b>
                          <span data-wrapper-react="true">
                            €
                            <span id="input_3_1005_price">
                              7.00
                            </span>
                            <span class="currency_abr">
                              EUR
                            </span>
                          </span>
                        </b>
                      </span>
                    </span>
                    <span class="form-sub-label-container" style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_quantity_1005_0" style="min-height:13px" aria-hidden="false"> Quantité </label>
                      <span class="select_cont">
                        <select class="form-dropdown" name="q3_mesProduits[special_1005][item_0]" id="input_3_quantity_1005_0">
                          <option value="1"> 1 </option>
                          <option value="2"> 2 </option>
                          <option value="3"> 3 </option>
                          <option value="4"> 4 </option>
                          <option value="5"> 5 </option>
                          <option value="6"> 6 </option>
                          <option value="7"> 7 </option>
                          <option value="8"> 8 </option>
                          <option value="9"> 9 </option>
                          <option value="10"> 10 </option>
                        </select>
                      </span>
                    </span>
                  </div>
                </div>
              </span>
              <div class="p_item_separator ">
              </div>
              <span class="form-product-item hover-product-item  show_option new_ui" categories="non-categorized" pid="1006">
                <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                  <div class="p_col">
                    <div class="p_checkbox">
                      <input type="checkbox" class="form-checkbox  form-product-input" id="input_3_1006" name="q3_mesProduits[][id]" value="1006" />
                      <div class="checked">
                      </div>
                      <div class="select_border">
                      </div>
                    </div>
                  </div>
                  <div class="p_image">
                    <div class="image_area null" style="background-image:url(&quot;null&quot;)">
                      <div class="image_zoom">
                      </div>
                    </div>
                  </div>
                  <div for="input_3_1006" class="form-product-container">
                    <span data-wrapper-react="true">
                      <div class="title_description">
                        <span class="form-product-name" id="product-name-input_3_1006">
                          produits3
                        </span>
                        <span class="form-product-description" id="product-name-description-input_3_1006">
                        </span>
                      </div>
                      <span class="form-product-details">
                        <b>
                          <span data-wrapper-react="true">
                            €
                            <span id="input_3_1006_price">
                              9.00
                            </span>
                            <span class="currency_abr">
                              EUR
                            </span>
                          </span>
                        </b>
                      </span>
                    </span>
                    <span class="form-sub-label-container" style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_quantity_1006_0" style="min-height:13px" aria-hidden="false"> Quantité </label>
                      <span class="select_cont">
                        <select class="form-dropdown" name="q3_mesProduits[special_1006][item_0]" id="input_3_quantity_1006_0">
                          <option value="1"> 1 </option>
                          <option value="2"> 2 </option>
                          <option value="3"> 3 </option>
                          <option value="4"> 4 </option>
                          <option value="5"> 5 </option>
                          <option value="6"> 6 </option>
                          <option value="7"> 7 </option>
                          <option value="8"> 8 </option>
                          <option value="9"> 9 </option>
                          <option value="10"> 10 </option>
                        </select>
                      </span>
                    </span>
                  </div>
                </div>
              </span>
              <div class="payment_footer new_ui ">
                <div class="total_area">
                  <div class="form-payment-total">
                    <div id="total-text">
                      Total
                    </div>
                    <div class="form-payment-price">
                      <span data-wrapper-react="true">
                        €
                        <span id="payment_total">
                          0.00
                        </span>
                        <span class="currency_abr">
                          EUR
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_4">
        <label class="form-label form-label-left" id="label_4" for="first_4"> identité </label>
        <div id="cid_4" class="form-input" data-layout="full">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <input type="text" id="first_4" name="q4_identite[first]" class="form-textbox" size="10" value="" data-component="first" aria-labelledby="label_4 sublabel_4_first" />
              <label class="form-sub-label" for="first_4" id="sublabel_4_first" style="min-height:13px" aria-hidden="false"> nom </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <input type="text" id="last_4" name="q4_identite[last]" class="form-textbox" size="15" value="" data-component="last" aria-labelledby="label_4 sublabel_4_last" />
              <label class="form-sub-label" for="last_4" id="sublabel_4_last" style="min-height:13px" aria-hidden="false"> Prénom </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_email" id="id_5">
        <label class="form-label form-label-left" id="label_5" for="input_5"> E-mail </label>
        <div id="cid_5" class="form-input" data-layout="half">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input type="email" id="input_5" name="q5_email" class="form-textbox validate[Email]" style="width:310px" size="310" value="" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_5 sublabel_input_5" />
            <label class="form-sub-label" for="input_5" id="sublabel_input_5" style="min-height:13px" aria-hidden="false"> example@example.com </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_9">
        <label class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Description </label>
        <div id="cid_9" class="form-input-wide" data-layout="full">
          <textarea id="input_9" class="form-textarea" name="q9_description" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_9"></textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide" data-layout="full">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
            <button id="input_2" type="submit" class="form-submit-button form-submit-button-blue submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
              envoyer
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
  JotForm.poweredByText = "Powered by JotForm";
  </script>
  <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="211623088708356" />
  <script type="text/javascript">
  var all_spc = document.querySelectorAll("form[id='211623088708356'] .si" + "mple" + "_spc");
for (var i = 0; i < all_spc.length; i++)
{
  all_spc[i].value = "211623088708356-211623088708356";
}
  </script>
  <div class="formFooter-heightMask">
  </div>
  
  </div>
</form></body>
</html>
<script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script><script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.25865"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.25865"></script>
